#add-erc20-token-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='add-erc20-token-modal-label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#add-erc20-token-label.modal-title
          p Add ERC20 Token
      .modal-body
        p Please add ERC20 Token address
        .input-group.mb-3
          input#erc20-token-address.form-control(type='text')
        .input-group.mb-3
          input#erc20-token-symbol.form-control(type='text', readonly='', placeholder="Token Symbol")
        button#add-erc20-token-save-btn.btn.btn-primary.btn-block(type='button') Add
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') DISMISS
