.alert.alert-danger.alert-dismissible.fade.show(role='alert')
  p
    strong Warning/Disclaimer
  p Don't put a large amount of Ether. Treat this wallet as your small pocket purse.
  p
    | We do not keep your private key. Your private key is stored in your browser's local storage.
  p If your browser's local storage is deleted, your wallet won't be accessible.
  p We are not responsible for any loss.
  button.close(type='button', data-dismiss='alert', aria-label='Close')
    span(aria-hidden='true') ×
