footer.footer
  .container
    .row
      .col-sm
        span#package-name __package_name__
        span#package-description __package_description__
        br
        | Ver.
        span#version __package_version__
        | &nbsp;
        span#commit-hash (__git_commit_hash__)
        | &nbsp;
      .col-sm
        a#github-link.float-right(href="https://github.com/piyolab/cryptopurse" target="_blank")
          img(src="/images/icons/github-64px.png", alt="GitHub")