nav.navbar.navbar-dark.bg-primary
  a.navbar-brand(href='#') Ethereum Purse
  //- Toggle Menu button
  button#navbarToggleButton.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleMenu', aria-controls='navbarToggleMenu', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
//- Toggle Menu
#navbarToggleMenu.collapse.bg-dark.p-4
  button.btn.btn-danger.btn-sm.btn-block(type='button', data-toggle='collapse', data-target='#denger-menu') Show denger menu
  #denger-menu.collapse
    .card.mb-3.bg-dark.border-danger.mt-4
      .card-body.text-white
        h6.card-title Danger Zone
        button.btn.btn-danger.btn-sm.btn-block(type='button', data-toggle='modal', data-target='#export-wallet-modal') Export wallet
        button.btn.btn-danger.btn-sm.btn-block(type='button', data-toggle='modal', data-target='#import-wallet-modal') Import wallet
