nav.navbar.navbar-dark.bg-primary
  a.navbar-brand(href='#') Ethereum Purse
  //- Toggle Menu button
  button#navbarToggleButton.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleMenu', aria-controls='navbarToggleMenu', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
