#tx-result-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tx-result-modal-label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#tx-result-modal-label.modal-title
          | Transaction Result
      .modal-body
        center
          span#tx-result-modal-msg
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') DISMISS
