#send-eth-confirm-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='send-eth-confirm-modal-label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#send-eth-confirm-modal-label.modal-title
          span#send-eth-confirm-modal-title
      .modal-body
        span#send-eth-confirm-modal-msg
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') CANCEL
        button#send-eth-btn.btn.btn-primary(type='button') Send Ether
