#commit-hash {
  font-size: 0.8em;
}
#github-link img {
  height: 32px;
  width: 32px;
}
#navbarToggleMenu a {
  color: white;
}
#package-description {
  color: #444;
  margin-left: 5px;
}
#package-name {
  font-weight: bolder;
}
#reader-camera-preview {
  width: 100%;
}
#webview-warning {
  display: none;
}
#create-wallet {
  display: none;
}
#send-eth-confirm-modal-msg {
    white-space: normal;
    word-wrap: break-word;
}
#snackbar {
  visibility: hidden;
  min-width: 200px;
margin-left: -100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  font-size: 18px;
  z-index: 5000;
  left: 50%;
  top: 30px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.2s, fadeout 0.3s 0.8s;
  animation: fadein 0.2s, fadeout 0.3s 0.8s;
}
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}