
#main-contents {
  display: none;
}

#navbarToggleButton {
  display: none;
}

#commit-hash {
  font-size: 0.8em;
}
#github-link img {
  height: 32px;
  width: 32px;
}
#navbarToggleMenu a {
  color: white;
}
#package-description {
  color: #444;
  margin-left: 5px;
}
#package-name {
  font-weight: bolder;
}
#reader-camera-preview {
  width: 100%;
}
#webview-warning {
  display: none;
}
#create-wallet {
  display: none;
}