doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    include includes/navbar.pug
    .container
      #main-contents
        include includes/disclaimer.pug
        include includes/my-purse.pug
        include includes/send-eth.pug

      //- Modals
      include includes/qr-display.pug
      include includes/qr-reader.pug
      include includes/import-key-modal.pug
      include includes/export-key-modal.pug
      include includes/send-confirm-modal.pug
      include includes/send-result-modal.pug

    include includes/webview-warning.pug
    include includes/create-wallet.pug
    include includes/footer.pug

    //- Import JavaScripts
    include includes/footer-import.pug

